<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template 1</title>
    <link href="~/libs/lib.css" rel="stylesheet" />
    <link href="~/libs/rlib.css" rel="stylesheet" />
    <script src="~/libs/jquery.js"></script>
    <script src="~/libs/lib.js"></script>
    <link href="~/libs/css/style.css" rel="stylesheet" />
    <link href="~/libs/css/darkmode.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
</head>
<body>
    <header>
        <div class="title">
            <h4>TEMPLATE HEADER 1</h4>
        </div>
        <div class="header-profile">
            <i class="far fa-moon icon"></i>
            <i class="far fa-envelope icon"></i>
            <i class="far fa-bell icon"></i>
            <i class="fas fa-cog icon"></i>
            <img src="~/libs/assets/myavt.jpg" />
        </div>
    </header>
    <div class="left-menu">
        <div class="menu-item">
            <div class="menu-header">
                <div class="icon">
                    <i class="fas fa-home"></i>
                </div>
                <div class="text">
                    <p class="limit-1">Home Page</p>
                </div>
            </div>
        </div>
        <div class="menu-item user">
            <div class="menu-header">
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
                <div class="text">
                    <p class="limit-1">Users</p>
                </div>
            </div>
        </div>
        <div class="menu-item has-child email-received email-sent email-draft email-trash email-new">
            <div class="menu-header">
                <div class="icon">
                    <i class="fas fa-envelope-open-text"></i>
                </div>
                <div class="text">
                    <p class="limit-1">Email</p>
                </div>
            </div>
            <div class="menu-child">
                <a class="limit-1 email-new" href="@Url.Action("Update", "Email")">New email</a>
                <a class="limit-1 email-received" href="@Url.Action("Index", "Email")">Received</a>
                <a class="limit-1 email-sent">Sent</a>
                <a class="limit-1 email-draft">Draft</a>
                <a class="limit-1 email-trash">Trash</a>
            </div>
        </div>
        <div class="menu-item chats" onclick="javascript: window.location.href = '@Url.Action("Index", "Chat")'">
            <div class="menu-header">
                <div class="icon">
                    <i class="fas fa-comment"></i>
                </div>
                <div class="text">
                    <p class="limit-1">Chats</p>
                </div>
            </div>
        </div>
        <div class="menu-item has-child">
            <div class="menu-header">
                <div class="icon">
                    <i class="fas fa-cogs"></i>
                </div>
                <div class="text">
                    <p class="limit-1">Settings</p>
                </div>
            </div>
            <div class="menu-child">
                <a class="limit-1">Set Permission</a>
                <a class="limit-1">System Settings</a>
            </div>
        </div>
    </div>
    <div class="main-content">
        @RenderBody()
    </div>
    <footer>
        <p class="m-0">Copyright &copy; RoZ @DateTime.Now.Year</p>
    </footer>
    <div class="side-bar"></div>
    <div class="r-modal-wrapper" onclick="RModalHide()">
        <div class="r-modal"></div>
    </div>
</body>
</html>